{% extends "layout.html" %}

{% block body %}
    <h1 class="">Available Flavours</h1>
    
    <div class="row">
        {% for icecream in icecreams %}
        <div class="col-md-3">
            <div class="card mb-2 w-100">
                <img class="card-img-top" src="{{ icecream.img }}" alt="{{ icecream.name }}">
                <div class="card-body text-left bg-light">
                    <h5 class="card-title">{{ icecream["name"] }}</h5>
                    <p class="card-text">Some description</p>
                    <button class="btn btn-primary">Buy</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}