{% extends "layout.html" %}

{% block body %}
    <h1 class="">Available Flavours</h1>
    
    <div class="row g-5">
        {% for icecream in icecreams %}
        <div class="col-md-2">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ icecream.img }}" alt="{{ icecream.name }}">
                <div class="card-body text-left bg-light">
                    <h5 class="card-title" style="font-size: 0.9rem;">{{ icecream["name"] }}</h5>
                    <p class="card-text" style="font-size: 0.9rem;">Some description</p>

                    <!-- Observe below how I used a form to place order -->
                    <form action="/cart" method="post">
                        <input name="icecream_id" type="hidden" value="{{ icecream['id'] }}">
                        <button class="btn btn-dark" type="submit">Buy</button>
                        <p class="text-muted">₹</p>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}