.card {
    width: 11rem;
}

.card-img-top {
    object-fit: contain;
    padding: 10px;
    background-image: linear-gradient(to left, #ccc, #ddd);
}

form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}