{% extends "layout.html" %}
{% block content %}

    <h2>Add Expense</h2>

    <form action="/add" method="POST">
        <label>Date</label><br>
        <input type="datetime" name="date" required><br><br>

        <label>Amount:</label><br>
        <input type="number" name="amount" required><br><br>

        <label>Category:</label><br>
        <input type="text" name="category" required><br><br>

        <button type="submit">Add</button>
    </form>

    <br>
    <a href="/">Back</a>

{% endblock %}