{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h2>Edit Expense</h2>

    <form method="POST" class="form">
        <label>Title:</label>
        <input type="text" name="title" value="{{ expense[1] }}" required>

        <label>Amount:</label>
        <input type="number" name="amount" value="{{ expense[2] }}" required>

        <label>Category:</label>
        <input type="text" name="category" value="{{ expense[3] }}" required>

        <button type="submit">Update</button>
    </form>

    <a href="/" class="back-btn">⬅ Back</a>
</div>

{% endblock %}