<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
</head>
<body>
    <h1>Expense Tracker</h1>

    <a href="/add">Add Expense</a>

    <h3>Total: ₹{{ total }}</h3>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Action</th>
        </tr>

        {% for expense in expenses %}
        <tr>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
            <td>
                <a href="/edit/{{ expense[0] }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>